---
# Only the main Sass file needs front matter (the dashes are enough)
---

@charset "utf-8";

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials

.masthead {
    border-bottom: 0.5ex solid #008800;
}

a:link {
  color: #008800;
  text-decoration: none;
}

a:visited {
  color: #006600;
  text-decoration: none;
}

a:hover a:selected {
  text-decoration: underline;;
}


h1#page-title {
    visibility: hidden;
    height: 0px;
}
